html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: black;
}

video {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  height: 75%;
  width: 50%;
}
